body{
    margin: 0px;
    padding: 0px;
}

nav ul{
margin: 0px;
padding: 0px;
display: flex;
border: none;
list-style-type: none;
background-color: skyblue;
}

nav li {
padding: 25px 0px 25px 0px;
}

li a {
color: white;
text-align: center;
padding: 25px;
text-decoration: none;
}

nav ul li ul
{
    position: absolute;
    display: none;
}

nav ul li:hover ul
{
    margin: 0px;
    padding: 0px;
    display: block;

}

nav ul li a
{
    margin: 25px;
    padding: 25px;
    display: inline-block;
}
