header {
color: #0033cc;
display: inline;
text-align: center;
}

.resumebox{
    width: 300px;
    padding: 20px;
    border: 6px solid blue;
    background-color: lightskyblue;
}

p{
    text-indent: 30px;
}

p::first-letter {
    font-size: xx-large;
}

@media screen and (min-width: 760px) {
    img {
        width: 460px;
        height: 600px;
    }
    .grid {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 20% 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "section1" "section2"
        "section3"
        "section4";
    }
    .section1 {
        grid-area: section1;
        justify-self: left;
        padding: 50px; 
        }

    .section2 {
        grid-area: section2;
        text-align: right;
        margin: 5px;
        justify-self: right;
        padding: 90px;
  
    }
    .section3 {
        grid-area: section3;
        justify-self: left;
        margin: 20px;
        padding: 60px;
        }

    .section4 {
        grid-area: section4;
        justify-self: right;
        padding: 80px;
        text-align: center;
    }
}

@media screen and (max-width: 801px) {
    .grid {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 2fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "section1"
            "section2"
            "section3"
            "section4";
           }

    .section1 {
        grid-area: item1;
        justify-self: center;
        padding-left: 10px;
        margin: 10px;
      }
       
      img {
        width: 300px;
        height: 400px;
    }
    .section2 {
      grid-area: item2;
      justify-self: center;
      padding-right: 8px;       
      
    }
    .section3 {
        grid-area: item3;
        justify-self: center;
        padding: 40px;
           }

    .section4 {
      grid-area: item4;
      justify-self: center;
      padding: 80px;
    }
          
  }      

