@font-face
{
 font-family: 'Roboto Condensed' 'Roboto Mono';
 src: url("https://fonts.googleapis.com");
}

body{
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto Mono', monospace;
}

blockquote {font-family: 'Roboto Condensed', sans-serif;}


header {
color: #0033cc;
display: inline;
text-align: center;
}

.resumebox{
    width: 300px;
    padding: 20px;
    border: 6px solid blue;
    background-color: lightskyblue;
}

p{
    text-indent: 30px;
}

p::first-letter {
    font-size: xx-large;
}

@media screen and (min-width: 760px) {
    img {
        width: 460px;
        height: 600px;
    }
    .grid {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 20% 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "section1" "section2"
        "section3"
        "section4";
    }
    .section1 {
        grid-area: section1;
        justify-self: left;
        text-align: left;
        padding: 10px; 
        margin: 20px;
        }

    .section2 {
        grid-area: section2;
        text-align: right;
        margin: 20px;
        justify-self: right;
        padding: 10px;
  
    }
    .section3 {
        grid-area: section3;
        justify-self: left;
        text-align: left;
        padding: 10px; 
        margin: 20px;
        }

    .section4 {
        grid-area: section4;
        text-align: right;
        margin: 20px;
        justify-self: right;
        padding: 10px;
    }
}

@media screen and (max-width: 801px) {
    .grid {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 2fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "section1"
            "section2"
            "section3"
            "section4";
           }

    p{
        font-size:2vw;
    }

    img {
        width: 260px;
        height: 400px;
        padding: 100px;
    
    }

    .section1 {
        grid-area: section1;
        justify-self: left;
        text-align: left;
        padding: 10px; 
        margin: 20px;
        }

    .section2 {
        grid-area: section2;
        text-align: right;
        margin: 20px;
        justify-self: right;
        padding: 10px;
  
    }
    .section3 {
        grid-area: section3;
        justify-self: left;
        text-align: left;
        padding: 10px; 
        margin: 20px;
        }

    .section4 {
        grid-area: section4;
        text-align: right;
        margin: 20px;
        justify-self: right;
        padding: 10px;
    }
          
  }      

  @media print{
    *{
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;

    }
    nav{
        display: none;
    }

    body{
      font-family: 'Roboto Mono', monospace;
    }

    blockquote{
        font-family: 'Roboto Condensed', sans-serif;
    }

    img{
        display: none;
      }

    @page{ 
        margin: 1in;
    }
    }


